@charset "UTF-8";
/* CSS Document */
article, section, aside, hgroup, nav, header, footer, figure, figcaption
{
display: block;
}
body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	background-color:#E2EFFC;
	line-height:110%;
}

h1, h2, h3, h4 {
	font-family:Arial, Helvetica, sans-serif;
	line-height:110%;
}
h1{
	font-size:26px;
	margin: 10px 0 10px 0;
}
h3 {
	
}
h4 {
	
}

#wrapper {
width: 960px;
background-color: #FFF;
margin-left:auto;
margin-right:auto;
}

header {
height: 100px;
}

nav {
width:960px;
}

/* Navigation code from Listamatic
http://css.maxdesign.com.au/listamatic/horizontal03.htm
*/

nav ul {
padding-left: 0;
margin-left: 0;
background-color: #4A99D9;
color: #FFF;
float: left;
width: 100%;
}

nav ul li {
display: inline; }

nav ul li a {
padding: 3px 16px;
background-color: #4A99D9;
color: #FFF;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
}

nav ul li a:hover {
background-color: #999;
color: #fff;
}

.highlight a{
font-weight: 900;
color: #444;
}

#content {
	margin: 0 20px 0 20px;
}

#rightcol {
float: left;
width: 300px;
}

footer {
clear:both;
height: 50px;
padding: 20px;
text-align:center;
}
#header_title {
	/*position: absolute;
	top: -60px;
	left: 300px;*/
	float:right;
	margin: 20px;
}