
body {
	padding-top:80px;
	padding-bottom:80px;
}
.NextButton {

}
.navbar .brand {
	background:transparent url("../img/logo-small2.png") 0 5px no-repeat;
	width:35px;
	height:35px;
	text-indent: -999em;
	overflow: hidden;
	outline:none;
	padding:0 0;
	margin-left:-15px;
}
td label span {
	padding:7px 0 0 5px;
}
#question-type-nav button {
	width:100%;
	text-align: left;
}
body #answer-option-window{
    width: 870px;
    height:550px;
    margin-left: -375px;
}
#step1 {
	margin-top:120px;
}
html body div.container div#step2.row span.span8 div.btn-group  {
	margin-bottom:20px !important;
}
html body .rcpa-group{
	width:100% !important;

}
html body .rcpa-group .btn-rcpa {
 text-align:left;
 padding-left:12px ;
 background:transparent;
 border:1px solid transparent;
 border-radius:0 !important;
 box-shadow: none;
}
html body .rcpa-group .btn-rcpa:hover {
	border:1px solid #e0e0e0;
	border-radius:0 !important;
	background-color:#f0f0f0;
}
.rcpa-group button.active {
	background-color:#fff !important;
	color:#333 !important;
	font-weight: 700 !important;
 	box-shadow: none;
 	border:1px solid #555 !important;
 	border-radius:0;
}
.NextButton {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #CC0029;
	*background-color: #CC0029;
	background-image: -moz-linear-gradient(top, #DE1B1B, #CC0029);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DE1B1B), to(#CC0029));
	background-image: -webkit-linear-gradient(top, #DE1B1B, #CC0029);
	background-image: -o-linear-gradient(top, #DE1B1B, #CC0029);
	background-image: linear-gradient(to bottom, #DE1B1B, #CC0029);
	background-repeat: repeat-x;
	border-color: #CC0029;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DE1B1B', endColorstr='#CC0029', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.NextButton:hover, .NextButton:active {
	color: #000;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #efefef;
	*background-color: #efefef;
	background-image: -moz-linear-gradient(top, #FEFEFE, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FEFEFE), to(#efefef));
	background-image: -webkit-linear-gradient(top, #FEFEFE, #efefef);
	background-image: -o-linear-gradient(top, #FEFEFE, #efefef);
	background-image: linear-gradient(to bottom, #FEFEFE, #efefef);
	background-repeat: repeat-x;
	border-color: #efefef;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#efefef', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#answer-option-window textarea, #answer-option-window .btn-group {
	margin-bottom:25px;
}
